<div class="row masonry-container">
    <div class="item two-columns single-card opaque" data-cardid="5662217833807872" style="position: absolute; left: 0px; top: 0px;">
        <div class="card-authoring-info">
            <div class="bl-source" data-block="source">
                <p class="bl-source-name">CI&amp;T Digital Talk</p>
            </div><div class="bl-author" data-block="author">
                <div class="bl-author-container">
                    <img class="bl-author-image" src="https://lh3.googleusercontent.com/-ZOeVI8lky5k/AAAAAAAAAAI/AAAAAAAACec/ARhnFQZAdNc/photo.jpg?sz=150">
                </div><div class="bl-author-info">
                    <p class="bl-author-name">
                        <a data-card="open-route" href="/u/proberto">Paulo Roberto Camara</a>
                    </p>
                    <p class="bl-author-date">April 13, 2015</p>
                </div>
            </div>
        </div><div class="bl-content" data-block="content">
            <h1 class="bl-content-title">Um dos maiores bancos do planeta preocupado com bitcoins e startups?!?</h1>
            <p class="bl-content-content">
                Pois é. Não há mercado que seja imune à transformação digital e o segmento financeiro é um onde o assunto avança de forma mais acelerada. As fronteiras de atuação entre as empresas ficam cada vez mais nebulosas e as barreiras de entrada evaporam na mesma medida.<br><br>Mas, ao invés de enxergar esse exército de empreendedores e inovadores como adversários, os bancos precisam, na verdade, é se conectarem nesse ecossistema e, ao fazer isso, potencializar, ainda mais, o alcance das inovações e transformações. Isso envolve, naturalmente, abrir mão de ter autonomia total sobre a experiência dos seus clientes mas, pensando bem, quem é que hoje em dia, a não ser o próprio cliente, tem essa autonomia?
                <br><br>
                <span class="proflinkWrapper">
                    <span class="proflinkPrefix">+</span><a class="proflink" href="https://plus.google.com/106039107740174447835" oid="106039107740174447835">Leandro Duran</a>
                </span>&nbsp;
                <span class="proflinkWrapper">
                    <span class="proflinkPrefix">+</span>
                    <a class="proflink" href="https://plus.google.com/103205094494352931790" oid="103205094494352931790">Marcio Kikuti</a>
                </span>&nbsp;﻿
            </p>
            <a class="bl-content-original-post" href="https://plus.google.com/+PauloRobertoCamara/posts/et1KPLLVMbW" target="_blank">
                original post
            </a>
        </div>
        <div class="bl-article" data-block="article">
            <a class="bl-article-link" href="http://mashable.com/2015/04/10/jp-morgan-ceo-letter/#:eyJzIjoidCIsImkiOiJfdjk1bHh6amMxYmtqcHF4ciJ9" target="_blank">
                <img class="bl-article-img" src="https://lh3.googleusercontent.com/54cGldnnCxxnjmw7GzyC3WA0lpTeKfAppi-KCD-0xOxToLJcGHVHTu7W2sMbXSA33pikUvXigdeljj_f">
                <h3 class="bl-article-author">mashable.com</h3>
                <p class="bl-article-content">The CEO of America's biggest bank is worried about tech startups</p>
            </a>
        </div>
        <div class="bl-ua" data-block="user-activity">
            <ul class="bl-ua-list">
                <li class="bl-ua-list-item"><a class="bl-ua-link-activity bl-ua-link-like   " data-card="link-activity" data-cardactivity="like" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-like">Like</i><span class="bl-ua-counter bl-ua-counter-like" data-card="count-activity" data-cardcountnumber="21">21</span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-activity bl-ua-link-dislike   " data-card="link-activity" data-cardactivity="dislike" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-dislike">Dislike</i><span class="bl-ua-counter bl-ua-counter-dislike" data-card="count-activity"></span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-pin bl-ua-link-pin   " data-card="link-pin" data-cardactivity="pin" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-pin">Pin</i><span class="bl-ua-counter bl-ua-counter-pin" data-card="count-pin" data-cardcountnumber="0">0</span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-share bl-ua-link-share" data-card="link-share" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-share">Share</i><span class="bl-ua-counter bl-ua-counter-share" data-card="count-share" data-cardcountnumber="0">0</span></a></li>
            </ul>
            <div class="bl-ua-tooltip" data-card="share-tooltip">
                <div class="bl-ua-share-by-email">
                    <a class="bl-ua-share-by-email-link" data-cardshare="email" href="javascript:void(0);">Share it by email</a>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="bl-photo" data-block="photo"><img class="bl-photo-image" src="./ciandt-i/images/people_banner.png"></div>-->
    <div ng-repeat="cardItem in cards" on-last-repeat class="item one-column opaque masonry-card" data-cardid="{{cardItem.cardId}}" data-recommendationrequestid="1392905186">
        <!-- PERSON CARDS --><!-- OTHER CARDS -->
        <div class="card-authoring-info">
            <div class="bl-source" data-block="source">
                <p class="bl-source-name">{{cardItem.sourceName}}</p>
            </div>
            <div class="bl-author" data-block="author">
                <div class="bl-author-container">
                    <img class="bl-author-image" src="{{cardItem.authorImageUrl}}">
                </div>
                <div class="bl-author-info">
                    <p class="bl-author-name">
                        <a data-card="open-route" href="/u/ana">{{cardItem.authorName}}</a>
                    </p>
                    <p class="bl-author-date">{{cardItem.authoringDate}}</p>
                </div>
            </div>
        </div>
        <a href="/card/z13rg33hqzvow3v3w22tvb2rrsqxfzmnf" data-card="open-card">
            <div class="bl-content" data-block="content">
                <h1 class="bl-content-title">{{cardItem.contentTitle}}</h1>
                <p class="bl-content-summary">{{cardItem.contentSummary}}</p>
            </div>
            <div class="bl-photo" data-block="photo">
                <img class="bl-photo-image" src="{{cardItem.contentImageUrl}}" width="100%" height="100%">
            </div>
        </a>
        <div class="bl-ua" data-block="user-activity">
            <ul class="bl-ua-list">
                <li class="bl-ua-list-item">
                    <a class="bl-ua-link-activity bl-ua-link-like   " data-card="link-activity" data-cardactivity="like" href="javascript:void(0);">
                        <i class="bl-ua-icon bl-ua-icon-like">Like</i>
                        <span class="bl-ua-counter bl-ua-counter-like" data-card="count-activity" data-cardcountnumber="31">31</span>
                    </a>
                </li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-activity bl-ua-link-dislike   " data-card="link-activity" data-cardactivity="dislike" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-dislike">Dislike</i><span class="bl-ua-counter bl-ua-counter-dislike" data-card="count-activity"></span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-pin bl-ua-link-pin   " data-card="link-pin" data-cardactivity="pin" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-pin">Pin</i><span class="bl-ua-counter bl-ua-counter-pin" data-card="count-pin" data-cardcountnumber="0">0</span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-share bl-ua-link-share" data-card="link-share" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-share">Share</i><span class="bl-ua-counter bl-ua-counter-share" data-card="count-share" data-cardcountnumber="0">0</span></a></li>
            </ul>
            <div class="bl-ua-tooltip" data-card="share-tooltip">
                <div class="bl-ua-share-by-email">
                    <a class="bl-ua-share-by-email-link" data-cardshare="email" href="javascript:void(0);">Share it by email</a>
                </div>
            </div>
        </div>
    </div>
</div>

